%%
%% etc/app.config
%%
{sasl_error_log, "log/sasl-error.log"}.
{sasl_log_dir, "log/sasl"}.
{queue_backend_auth,    "pmm.alley.kelly.auth"}.
{queue_backend_config,  "pmm.alley.funnel.config"}.
{queue_backend_events,  "pmm.alley.funnel.events"}.
{queue_backend_batches, "pmm.alley.funnel.request.sms"}.
{queue_server_control,  "pmm.alley.funnel.control"}.
{queue_nodes_prefix,    "pmm.alley.funnel.nodes"}.
{queue_gateway_pattern, "pmm.alley.just.gateway.%id%"}.

%%
%% etc/vm.args
%%
{node, "funnel@127.0.0.1"}.

%%
%% bin/funnel
%%
{runner_script_dir, "$(cd ${0%/*} && pwd)"}.
{runner_base_dir, "${RUNNER_SCRIPT_DIR%/*}"}.
{runner_etc_dir, "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir, "$RUNNER_BASE_DIR/log"}.
{pipe_dir, "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user, ""}.
