[
 %% Funnel config
 {funnel_mini,
  [{amqp_username,         <<"guest">>},
   {amqp_password,         <<"guest">>},
   {amqp_host,             "localhost"},
   {amqp_port,             5672},
   {amqp_virtual_host,     <<"/">>},
   {queue_backend_auth,    <<"{{queue_backend_auth}}">>},
   {queue_backend_config,  <<"{{queue_backend_config}}">>},
   {queue_backend_events,  <<"{{queue_backend_events}}">>},
   {queue_backend_batches, <<"{{queue_backend_batches}}">>},
   {queue_server_control,  <<"{{queue_server_control}}">>},
   {queue_nodes_prefix,    <<"{{queue_nodes_prefix}}">>},
   {queue_gateway_pattern, <<"{{queue_gateway_pattern}}">>}]},

 %% Mnesia config
 {mnesia,
  [{dir, "data/mnesia"}]},

 %% SASL config
 {sasl,
  [{sasl_error_logger, {file, "{{sasl_error_log}}"}},
   {errlog_type, error},
   {error_logger_mf_dir, "{{sasl_log_dir}}"}, % Log directory
   {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
   {error_logger_mf_maxfiles, 5}]}, % 5 files max

 %% riak_err config
 {riak_err,
  [{term_max_size, 10240}, % size limit of args combined
   {fmt_max_bytes, 10240}]}, % size limit of a formatted term

 %% SNMP config
 {snmp,
  [{agent,
    [{config, [{dir, "etc/snmp"}]},
     {db_dir, "data/snmp"}]}]}
].
